{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>JODL GANG</title>
{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-5">Overcome the fear of missing out and be a part of the movement!</h1>
        <p class="lead">The cyptocurrencies market is extremely volatile at the moment. Publish your advice and pump and
            dump with the other patrons.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/note/" role="button">Share your advice &raquo;</a>
            &nbsp;
            {% if request.get_full_path == "/home/" %}
                <a class="btn btn-primary btn-lg" href="/personal/" role="button">View your notes only &raquo;</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="/home/" role="button">View recent notes &raquo;</a>
            {% endif %}
        </p>
    </div>

    <div class="container">
        <!-- Latest notes go here -->
        <div class="list-group notes">
            {% for note in notes %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 title">{{ note.title }}</h5>
                        <small class="date">{{ note.pub_date }}</small>
                    </div>
                    <p class="mb-1 text">{{ note.text }}</p>
                    <small class="author">{{ note.author.name }}</small>
                </a>
            {% endfor %}
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                Contact our local ambassador&nbsp;<a href="mailto:{{ email }}" title="Message {{ email }}" class="ambassador-email">{{ name }}</a>
            </div>
        </footer>
    </div>
{% endblock %}
