{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>JODL GANG</title>
{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Jodlgang</h1>
        <p class="lead">We are experts on cryptocurrencies. Give us your money and we will invest it faithfully for you!</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center"></div>
    </div>
{% endblock %}
