{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>JODL GANG</title>
{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">JODL GANG</h1>
        <p class="lead">Let us help you make a fortune on the cryptocurrency market. Since its foundation our fellow JODL GANG patrons have helped thousands of individuals like you to the success story of their life. Don't miss out and get in touch today!</p>
    </div>
{% endblock %}
