<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      {% block title %}<title>FOMOGANG</title>{% endblock %}

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Javascript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>
